<!-- <div class="card">
  <h4 class="card-header">{{title}} Reset Password</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Email Address</label>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email Address is required.</div>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Submit
        </button>
        <a routerLink="../login" class="btn btn-link">Cancel</a>
      </div>
    </form>
  </div>
</div> -->



<div id="wrapper">
  <div class="vertical-align-wrap">
      <div class="vertical-align-middle">
          <div class="auth-box ">
              <div class="left">
                  <div class="content">
                      <div class="header">
                          <div class="logo text-center"><img src="assets/img/header_logo.png" class="w-50" alt="Klorofil Logo"></div>
                          <p class="lead">Forgot Password</p>
                      </div>
                      <!-- <form class="form-auth-small" action="index.php">
                          <div class="form-group">
                              <label for="signin-email" class="control-label sr-only">Email</label>
                              <input type="email" class="form-control" id="signin-email" value="samuel.gold@domain.com" placeholder="Email">
                              
                          </div>
                          <div class="form-group">
                              <label for="signin-password" class="control-label sr-only">Password</label>
                              <input type="password" class="form-control" id="signin-password" value="thisisthepassword" placeholder="Password">
                          </div>
                          <div class="form-group clearfix">
                              <label class="fancy-checkbox element-left">
                                  <input type="checkbox">
                                  <span>Remember me</span>
                              </label>
                          </div>
                          <button type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>
                          <div class="bottom">
                              <span class="helper-text"><i class="fa fa-lock"></i> <a href="#">Forgot password?</a></span>
                          </div>
                      </form> -->

                      <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                          <label class="control-label sr-only" for="username">Email Address</label>
                          <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Email" />
                          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required" class="text-sm-left">Email Address is required.</div>
                            <div *ngIf="f.email.errors.email" class="text-sm-left">Email Address is Invalid.</div>
                          </div>
                        </div>
                        <div class="form-group" >
                          <div class="row">
                          <div class="col-6 pr-1">
                          <button [disabled]="loading" class="btn btn-primary btn-lg btn-block">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Submit
                          </button>
                        </div>
                        <div class="col-6 pl-1" >
                          <a routerLink="../login" class="btn btn-primary btn-lg btn-block">Cancel</a>
                        </div>
                      </div>
                        </div>
                      </form>
                  </div>
              </div>
              <div class="right">
                  <div class="overlay"></div>
                  <div class="content text">
                      <h1 class="heading">Free Bootstrap dashboard template</h1>
                      <p>by The Develovers</p>
                  </div>
              </div>
              <div class="clearfix"></div>
          </div>
      </div>
  </div>
</div>


