<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <!-- OVERVIEW -->
            <div id="wrapper">
                <div class="vertical-align-wrap">
                    <div class="vertical-align-middle">
                        <div class="auth-box " style="width:90% ; height: 100%;">
                            <div class="left" style="width:100%">
                                <div class="content">
                                    <div class="header">
                                        <div class="logo text-center">
                                            <h4>Add Blog</h4>
                                        </div>
                                        <!-- <p class="lead">Add Category</p> -->
                                    </div>
                                    <form>
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="form-group">
                                                    <label class="control-label sr-only" for="Category">Blog
                                                        Title</label>
                                                    <input type="text" formControlName="blogTitle" class="form-control"
                                                        placeholder="Blog Title" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label sr-only" for="Category">Blog
                                                        Description</label>
                                                    <textarea type="text" style="height: 200Px;"
                                                        formControlName="blogDescription" class="form-control"
                                                        placeholder="Blog Description"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label sr-only" for="Category">Blog Meta
                                                        Title</label>
                                                    <input type="text" formControlName="blogTitle" class="form-control"
                                                        placeholder="Meta Title" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label sr-only" for="Category">Meta
                                                        Description</label>
                                                    <textarea type="text" style="height: 200Px;"
                                                        formControlName="blogDescription" class="form-control"
                                                        placeholder="Meta Description"></textarea>
                                                </div>

                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label class="control-label sr-only" for="Category">Category</label>
                                                    <select class="form-select form-control form-select-lg mb-3 ">
                                                        <option selected disabled value="">Select Category </option>
                                                        <option value="Angular">Angular</option>
                                                        <option value="Wordpress">Wordpress</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label sr-only" for="Category">Tag</label>
                                                    <select class="form-select form-select-lg mb-3  form-control">
                                                        <option selected disabled value="">Select TAg </option>
                                                        <option value="Angular">Angular</option>
                                                        <option value="Wordpress">Wordpress</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label sr-only" for="Category">Image</label>
                                                    <input type="file" class="form-control" id="customFile" />
                                                    
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label sr-only" for="Category">Meta Key Word</label>
                                                    <select class="form-select form-select-lg mb-3  form-control">
                                                        <option selected disabled value="">Select Meta Key Word </option>
                                                        <option value="Angular">Angular</option>
                                                        <option value="Wordpress">Wordpress</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>


                                    </form>
                                </div>
                            </div>
                            <!-- <div class="right">
                        <div class="overlay"></div>
                        <div class="content text">
                          <h1 class="heading">Free Bootstrap dashboard template</h1>
                          <p>by The Develovers</p>
                        </div>
                      </div> -->
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- END OVERVIEW -->
            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>