


<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
      <div class="container-fluid">
        <!-- OVERVIEW -->
              <div id="wrapper">
                <div class="vertical-align-wrap">
                  <div class="vertical-align-middle">
                    <div class="auth-box " style="width:35%">
                      <div class="left" style="width:100%">
                        <div class="content">
                          <div class="header">
                            <div class="logo text-center"><h4>Add Tag</h4></div>
                            <!-- <p class="lead">Add Category</p> -->
                          </div>
                          <form>
                            <input type="hidden" formControlName="email" class="form-control"
                              />
                            <div class="form-group">
                              <label class="control-label sr-only" for="Category">Category</label>
                              <input type="text" formControlName="Category" class="form-control"
                                
                                placeholder="Category" />
                             
                            </div>
                            <div class="form-group">
                              <label class="control-label sr-only" for="newpassword">New Password</label>
                              <!-- <input type="password" formControlName="newpassword" class="form-control"
                                placeholder="New Password" /> -->
                                <select class="form-select form-control form-select-lg mb-3 custom-select" >
                                    <option selected disabled value="">Status</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                             
                            </div>
                            <!-- <div class="form-group">
                              <label class="control-label sr-only" for="confirmpassword">Confirm Password</label>
                              <input type="password" formControlName="confirmpassword" class="form-control"
                               
                                placeholder="Confirm Password" />
                             
                            </div> -->
                            <div class="form-group">
                              <div class="row">
                                <div class="col-6 pr-1">
                                  <button  class="btn btn-primary btn-lg btn-block">
                                    <!-- <span  class="spinner-border spinner-border-sm mr-1"></span> -->
                                    Submit
                                  </button>
                                </div>
                                <div class="col-6 pl-1">
                                  <a routerLink="/" class="btn btn-primary btn-lg btn-block">Cancel</a>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                      <!-- <div class="right">
                        <div class="overlay"></div>
                        <div class="content text">
                          <h1 class="heading">Free Bootstrap dashboard template</h1>
                          <p>by The Develovers</p>
                        </div>
                      </div> -->
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
          <!-- END OVERVIEW -->
        </div>
      </div>
      <!-- END MAIN CONTENT -->
    </div>